body {
  margin: 0; 
  height: 100vh;
  background-image: linear-gradient(to bottom right, rgb(123, 222, 255), rgb(8, 130, 170));
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.container {
  text-align: center;
  height: 80vh;
  width: 65vh;
  background-color: white ;
  margin: auto;
  margin-top: 25px;
  border-radius: 10px;
  overflow: auto;
}


.to-do-list {
  font-family: Arial, sans-serif;
  text-align: center;
  display: inline-block;
  padding-bottom: 100px;
  position: relative;
}


h1 {
  padding-top: 20px;
  font-size: 3rem;
  text-align: start;
}


input[type="text"] {
  font-size: 1.5rem;
  padding: 10px;
  border: 2px solid hsl(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 100%, 19%, 0.5);
}

ol {
  padding: 10px 0 10px 0;
  word-wrap: break-word;
}

li {
  font-size: 2rem;
  background-color: rgba(240, 240, 240, 0.932);
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  word-wrap: break-word;
}

li:hover{
  background-color: rgba(231, 231, 231, 0.493);
  transition: 0,2s;
}

.text {
  flex-grow: 1; 
  overflow: hidden;
  word-wrap: break-word; 
  text-align: start;
  padding-right: 80px;
  padding-left: 20px;
}
.delete-div{
  justify-content: center;
  display: inline-flex;
  font-weight: bold;
  gap: 20px;
}





/* BOTONES */

button {
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease; 
}

.trash-delete {
  background-color: rgb(253, 67, 67); 
  border: none;
  cursor: pointer;
}

.trash-delete img {
  width: 2rem;
  height: 2rem;
}

.add-button {
  background-color: hsl(298, 96%, 41%);
  font-size: 1.5rem;
  margin-left: 5px;
}

.add-button:hover, .delete-btn:hover{
  background-color: hsl(298, 84%, 29%);
}

.delete-btn{
  background-color: hsl(298, 96%, 41%);
  font-size: 1rem;
  border-radius: 30px;
}